/* /Features/Shared/MainLayout.razor.rz.scp.css */
.page[b-etxkjfn9lj] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main[b-etxkjfn9lj] {
    flex: 1;
}

.sidebar[b-etxkjfn9lj] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-etxkjfn9lj] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-etxkjfn9lj]  a, .top-row .btn-link[b-etxkjfn9lj] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-etxkjfn9lj] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-etxkjfn9lj] {
        display: none;
    }

    .top-row.auth[b-etxkjfn9lj] {
        justify-content: space-between;
    }

    .top-row a[b-etxkjfn9lj], .top-row .btn-link[b-etxkjfn9lj] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-etxkjfn9lj] {
        flex-direction: row;
    }

    .sidebar[b-etxkjfn9lj] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-etxkjfn9lj] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-etxkjfn9lj], article[b-etxkjfn9lj] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Features/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-dxxm701xsy] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-dxxm701xsy] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-dxxm701xsy] {
    font-size: 1.1rem;
}

.nav-item[b-dxxm701xsy] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-dxxm701xsy] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-dxxm701xsy] {
        padding-bottom: 1rem;
    }

    .nav-item[b-dxxm701xsy]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-dxxm701xsy]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-dxxm701xsy]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-dxxm701xsy] {
        display: none;
    }

    .collapse[b-dxxm701xsy] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-dxxm701xsy] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.fa-solid + span[b-dxxm701xsy] {
    margin-left: 0.5em;
}
/* /Features/Timeline/Components/TimelineEntry.razor.rz.scp.css */
.card + .card[b-moicy3c9hb] {
    margin-top: 2em;
}

.card-rounded[b-moicy3c9hb] {
    border: none;
    border-radius: 1em;
}

.card-header-rounded[b-moicy3c9hb] {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border: none;
}

.card-icon[b-moicy3c9hb] {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon + .entry-title[b-moicy3c9hb] {
    margin-left: 1.1em;
}

.card-edit[b-moicy3c9hb] {
    margin-left: auto;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-edit:hover[b-moicy3c9hb] {
    background-color: #e3e3e3;
    color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out;
}

.bg-measure[b-moicy3c9hb] {
    background-color: var(--measure-primary);
}

.bg-measure--header[b-moicy3c9hb] {
    background-color: var(--measure-primary-header);
}

.bg-feeding[b-moicy3c9hb] {
    background-color: var(--feeding-primary);
}

.bg-feeding--header[b-moicy3c9hb] {
    background-color: var(--feeding-primary-header);
}

.bg-nappy[b-moicy3c9hb] {
    background-color: var(--nappy-primary);
}

.bg-nappy--header[b-moicy3c9hb] {
    background-color: var(--nappy-primary-header);
}

.bg-sleep[b-moicy3c9hb] {
    background-color: var(--sleeping-primary);
}

.bg-sleep--header[b-moicy3c9hb] {
    background-color: var(--sleeping-primary-header);
}

.bg-milestone[b-moicy3c9hb] {
    background-color: var(--milestone-primary);
}

.bg-milestone--header[b-moicy3c9hb] {
    background-color: var(--milestone-primary-header);
}

