<AuthorizeView>
    <Authorized>
        <div class="nav-item">
            <NavLink class="nav-link" href="/Identity/Account/Manage">
                <i class="fa-solid fa-user-cog"></i><span>User</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <form method="post" action="/Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">
                    <i class="fa-solid fa-door-closed"></i><span>Log out</span>
                </button>
            </form>
        </div>

    </Authorized>
    <NotAuthorized>
        <div class="nav-item">
            <NavLink class="nav-link" href="/Identity/Account/Register">
                <i class="fa-solid fa-registered"></i><span>Register</span>
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="/Identity/Account/Login">
                <i class="fa-solid fa-door-open"></i><span>Log in</span>
            </NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>
