@page "/profiles/new"
@inject NavigationManager NavigationManager
@inject IDispatcher Dispatcher

<h3>Profiles - New Profile</h3>

<div>
    // Image
</div>

<div>
    // Form
    <EditForm Model="ViewModel" OnValidSubmit="HandleNewProfile" class="form">
        <DataAnnotationsValidator/>
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <InputText id="Name" @bind-Value="ViewModel.Name" class="form-control"/>
            <ValidationMessage For="() => ViewModel.Name" class="form-text"/>
        </div>
        <div class="mb-3">
            <label for="Birthdate" class="form-label">Birthdate</label>
            <InputDate id="Birthdate" @bind-Value="ViewModel.BirthDate" class="form-control">Birthdate</InputDate>
        </div>
        <div class="btn-group"><button type="submit" class="btn btn-primary">Save</button></div>
    </EditForm>
</div>

<FloatingActionButton InitialState="FabVisibility.Back" OnClick="HandleFabClick"/>


@code {

    private NewProfileViewModel ViewModel { get; set; } = new();
    private void HandleFabClick() => NavigationManager.NavigateTo("profiles/");

    private async Task HandleNewProfile()
    {
        try
        {
            await Dispatcher.ExecuteAsync(ViewModel.ToCommand());
            NavigationManager.NavigateTo("profiles/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            await Dispatcher.NotifyAsync(new Notifications.Error(e.Message));
        }
    }

}
