@page "/profiles"
@inherits IndexBase

<h3>Profiles</h3>
@foreach (var profile in Profiles)
{
    <NavLink @onclick="() => NavigateTo(profile.Id)">
        <div>@profile.FirstName</div>
        <div>@profile.AgeInDays</div>
    </NavLink>
}
