@inherits LayoutComponentBase

<div class="page background">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main class="overflow-auto py-1">
        <article class="content px-4 text-white-50">
            @Body
        </article>
    </main>
</div>
