
@if (_shown == ComponentVisibility.Shown)
{
    <div class="card">
        <div class="card-body">
            Edit
        </div>
    </div>
}


@code {
    
    private ComponentVisibility _shown = ComponentVisibility.Hidden;
    
    public void Show(Guid guid)
    {
        _shown = ComponentVisibility.Shown;
        StateHasChanged();
    }
    
    public void Close()
    {
        _shown = ComponentVisibility.Hidden;
        StateHasChanged();
    }
}
