.card + .card {
    margin-top: 2em;
}

.card-rounded {
    border: none;
    border-radius: 1em;
}

.card-header-rounded {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border: none;
}

.card-icon {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon + .entry-title {
    margin-left: 1.1em;
}

.card-edit {
    margin-left: auto;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-edit:hover {
    background-color: #e3e3e3;
    color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s ease-in-out;
}

.bg-measure {
    background-color: var(--measure-primary);
}

.bg-measure--header {
    background-color: var(--measure-primary-header);
}

.bg-feeding {
    background-color: var(--feeding-primary);
}

.bg-feeding--header {
    background-color: var(--feeding-primary-header);
}

.bg-nappy {
    background-color: var(--nappy-primary);
}

.bg-nappy--header {
    background-color: var(--nappy-primary-header);
}

.bg-sleep {
    background-color: var(--sleeping-primary);
}

.bg-sleep--header {
    background-color: var(--sleeping-primary-header);
}

.bg-milestone {
    background-color: var(--milestone-primary);
}

.bg-milestone--header {
    background-color: var(--milestone-primary-header);
}

