@using Wko.BabyTracker.Core.Dtos.Timeline
@using Wko.BabyTracker.Core.Shared.Enums
@using Wko.BabyTracker.Web.Globals
@using Wko.BabyTracker.Core.Dtos.Profiles
<div class="card @GetEntryStyle() py-4">
    <div class="card-header">
        @CardHeader
    </div>
    <div class="card-body">
        @CardBody
    </div>
</div>

@code {

    [Parameter, EditorRequired]
    public TimelineEntryType Type { get; set; } = TimelineEntryType.Default;

    [Parameter, EditorRequired]
    public RenderFragment CardHeader { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public RenderFragment CardBody { get; set; } = default!;
    
    private string GetEntryStyle()
    {
        return Type switch
        {
            TimelineEntryType.Feeding => "bg-info",
            TimelineEntryType.Sleep => "bg-success",
            TimelineEntryType.Measure => "bg-warning",
            TimelineEntryType.Milestone => "bg-primary",
            TimelineEntryType.Nappy => "bg-secondary",
            _ => "bg-light"
        };
    }

}
