@using Wko.BabyTracker.Core.Dtos.Timeline
@using Wko.BabyTracker.Core.Shared.Enums
@using Wko.BabyTracker.Web.Globals
@using Wko.BabyTracker.Core.Dtos.Profiles
<div class="card @GetEntryStyle() py-4">
    <div class="card-header">
        @GetEntryTitle()
    </div>
    <div class="card-body">
        @Entry.Body
    </div>
</div>

@code {

    [Parameter]
    public TimelineEntryDto Entry { get; set; } = new();
    
    [Parameter]
    public ProfileDto Child { get; set; } = new();

    private string GetEntryTitle()
    {
        return Entry.Type switch
        {
            TimelineEntryType.Feeding => string.Format(ApplicationLabels.Timeline_Title_Feeding, Child.FirstName),
            TimelineEntryType.Sleep => "Sleep",
            TimelineEntryType.Measure => "Measure",
            TimelineEntryType.Milestone => "Milestone",
            TimelineEntryType.Nappy => "Nappy",
            _ => "Unknown"
        };
    }
    
    private string GetEntryStyle()
    {
        return Entry.Type switch
        {
            TimelineEntryType.Feeding => "bg-info",
            TimelineEntryType.Sleep => "bg-success",
            TimelineEntryType.Measure => "bg-warning",
            TimelineEntryType.Milestone => "bg-primary",
            TimelineEntryType.Nappy => "bg-secondary",
            _ => "bg-secondary"
        };
    }

}
