@page "/timeline"
@page "/timeline/{id:guid}"
@using TimelineEntry = Wko.BabyTracker.Features.Timeline.Components.TimelineEntry
@inject IDispatcher Dispatcher

@if (!ViewModel.IsProfileSelected)
{
    <div>Select a Profile</div>
}

@foreach (var entry in ViewModel.TimelineEntries)
{
    <TimelineEntry Type="entry.Type">
        <CardHeader>@ViewModel.GetEntryTitle(entry)</CardHeader>
        <CardBody>@ViewModel.GetEntryBody(entry)</CardBody>
    </TimelineEntry>
}

@code {
    [Parameter]
    public Guid? Id { get; set; }
    
    private TimelineViewModel ViewModel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        ViewModel = await TimelineViewModelBuilder.ForChildId(Id).Build(Dispatcher);
        await base.OnInitializedAsync();
    }
}
